aws_region       = "us-east-1"
project_name     = "nutritrack"
environment      = "dev"

deployment_mode  = "private_alb" # public | private_alb

container_name   = "nutritrack-api-container"
container_image  = "docker.io/<dockerhub-username>/nutritrack-api:arm-latest"
container_port   = 8000
container_cpu    = 1024
container_memory = 2048
desired_count    = 1

# optional - set to null to auto-generate a globally unique bucket name
s3_bucket_name   = null

secrets_name     = "nutritrack/prod/api-keys"
usda_api_key     = "replace-me"
avocavo_api_key  = ""

tags = {
  Owner = "team-nutritrack"
}
